<div id="container-exp">
  <div id="instructions_header"><h2>End block 2 of 4</h2></div>
  <div id="instructions_text">
  </br></br>
    <p>
      Awesome!
    </p>
   <p>
      You finished the <b>second</b> block with an average score of:<span id="score">X</span>
   </br>
      That's great!
   </p>
  </div>
  <div id="instructions_bottom">
    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-7"></div>
            <div class="col-xs-3">
                <div class="right">
                    <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Continue <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>