<div id="container-exp">
      <div id="trial_text_container">
        <div id="trial_text">
          <br>Press enter to start<br>
        </div>
        <canvas id="probe_box" width="20" height="20"></canvas>
        <br>
          <div id = 'experiment'>
            <div id="task_display">
              <canvas id="task_box" width="425" height="400">
                Text goes here that the user will see if their browser doesn't support Canvas
              </canvas>
            </div>
          </div>
        <div id="trial_text_bottom">
            <br><br>
        </div>
      </div>
    </div>
  </body>