<div id="container-exp">
    <div id="trial_text_container">
      <div id="trial_text"><h1>Welcome!</h1></div>
      <div id="trial_text_instructions">
        You will be playing a game where you will have to remember 
        the locations sequences of squares on the screen.
        </br></br>
        The game is pretty simple. You will see sequences of small colored squares moving across the screen.
        Your job is to remember the location and order of these squares, as we will 
        ask you to indicate where you saw them on the screen using your mouse.  
        Each square will appear briefely, and you will see one square at a time. 
        After you see each sequence, there will be a brief delay with lots of dots 
        blinking on and off, 
        and then we will ask you to remember where you saw the squares.
        </br></br>When instructed, please click on the screen where you saw each square, 
        in the order that you saw them.
      <div id="trial_text_bottom">
        <div class="instructionsnav">
            <div class="row">
                <div class="col-xs-2"></div>
                <div class="col-xs-7"></div>
                <div class="col-xs-3">
                    <div class="right">
                        '<button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                        Next <span class="glyphicon glyphicon-arrow-right"></span>
                    </button>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>