<div id="container-exp">
  <div id="instructions_header"><h2>Task Complete!</h2></div>
  <div id="instructions_text">
    <div id="instructions_text">
      Awesome! You finished the <b>final</b> block with an average score of </br><div id="score">X</div>
      </br></br>
      Click next to continue.
    </div>
  <div id="instructions_bottom">
    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-7"></div>
            <div class="col-xs-3">
                <div class="right">
                    <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Finish <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>