<div id="container-consent">
  <div id="instructions_header"><h1>Consent Form</h1></div>
  <div id="consent">
    </br></br>
    Please consider this information carefully before deciding whether to participate in this research. <br><br>

    Purpose of the research: To examine the way people make decisions and learn about the relationships between stimuli, actions and rewards.<br><br>
    
    What you will do in this research:  Stimuli (images) will be presented on the computer and you will be asked to choose between different actions in order to earn monetary reward.<br><br>
    
    Time required: Participation will take between 1 and 45 minutes to complete.<br><br>
    
    Risks:  There are no anticipated risks associated with participating in this study.  The effects of participating should be comparable to those you would experience from viewing a computer monitor for 10 minutes and using a mouse or keyboard.<br><br>
    
    Benefits:  This study provides no benefits to you individually. The study provides important information about the nature of learning and decision making. This has potential implications for public domains, such as healthcare policy and the justice system, where understanding the processes governing choice (e.g., of insurance, medical care, illegal substances) can lead to more psychologically effective public policy.<br><br>
    
    Confidentiality:  Your participation in this study will remain confidential. No personally identifiable information will be associated with your data. Your de-identified data may be shared with other researchers and used in future projects.<br><br>
    
    Participation and withdrawal:  Your participation in this study is completely voluntary and you may refuse to participate or you may choose to withdraw at any time without penalty or loss of benefits to which you are otherwise entitled.<br><br>
    
    How to contact the researchers: If you have questions or concerns about your participation or payment, or want to request a summary of research findings, please contact Sam Gershman, gershman@fas.harvard.edu, (773) 607-9817.<br><br>
    
    Whom to contact about your rights as a participant in this research: For questions, concerns, suggestions, or complaints that have not been or cannot be addressed by the researcher, or to report research-related harm, please contact the Committee on the Use of Human Subjects in Research at Harvard University, 1414 Massachusetts Avenue, Second Floor, Cambridge, MA  02138.  Phone:  617-496-2847.  Email: cuhs@fas.harvard.edu<br><br>
    
    Please print or save a copy of this form for your records.<br><br>
    
    Agreement:
    
    The nature and purpose of this research have been sufficiently explained and I agree to participate in this study.  I understand that I am free to withdraw at any time without incurring any penalty.<br><br>
    
    Please consent by clicking the button below to continue. Otherwise, please exit the study at this time.
  </br></br>
  </div>
<!-- 
  <div id="consent">
    Please consider this information carefully before deciding whether to participate in this research. <br><br>

    Purpose of the research: To examine the way people make decisions and learn about the relationships between stimuli, actions and rewards.<br><br>
    
    What you will do in this research:  Stimuli (images) will be presented on the computer and you will be asked to choose between different actions in order to earn monetary reward.<br><br>
    
    Time required: Participation will take between 1 and 45 minutes to complete.<br><br>
    
    Risks:  There are no anticipated risks associated with participating in this study.  The effects of participating should be comparable to those you would experience from viewing a computer monitor for 10 minutes and using a mouse or keyboard.<br><br>
    
    Benefits:  This study provides no benefits to you individually. The study provides important information about the nature of learning and decision making. This has potential implications for public domains, such as healthcare policy and the justice system, where understanding the processes governing choice (e.g., of insurance, medical care, illegal substances) can lead to more psychologically effective public policy.<br><br>
    
    Confidentiality:  Your participation in this study will remain confidential. No personally identifiable information will be associated with your data. Your de-identified data may be shared with other researchers and used in future projects.<br><br>
    
    Participation and withdrawal:  Your participation in this study is completely voluntary and you may refuse to participate or you may choose to withdraw at any time without penalty or loss of benefits to which you are otherwise entitled.<br><br>
    
    How to contact the researchers: If you have questions or concerns about your participation or payment, or want to request a summary of research findings, please contact Sam Gershman, gershman@fas.harvard.edu, (773) 607-9817.<br><br>
    
    Whom to contact about your rights as a participant in this research: For questions, concerns, suggestions, or complaints that have not been or cannot be addressed by the researcher, or to report research-related harm, please contact the Committee on the Use of Human Subjects in Research at Harvard University, 1414 Massachusetts Avenue, Second Floor, Cambridge, MA  02138.  Phone:  617-496-2847.  Email: cuhs@fas.harvard.edu<br><br>
    
    Please print or save a copy of this form for your records.<br><br>
    
    Agreement:
    
    The nature and purpose of this research have been sufficiently explained and I agree to participate in this study.  I understand that I am free to withdraw at any time without incurring any penalty.<br><br>
    
    Please consent by clicking the button below to continue. Otherwise, please exit the study at this time.
  
  </div> -->
  <div id="instructions_bottom">
    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-7"></div>
            <div class="col-xs-3">
                <div class="right">
                    <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                      Click here to consent <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>