<div id="container-exp">
  <div id="instructions_header"><h1>Welcome!</h1></div>
  <div id="instructions_text">
      You will be playing a game where you will have to remember 
      where you saw each of a sequence of squares presented on the screen.
      </br></br>
      In each trial, you will see a sequence of small, colored squares 
      moving across the screen. Your job is to remember where you saw these squares and indicate 
      where you saw each of them using your mouse.  You will place these in order, noting where 
      you saw the first square first, the second square second, etc. 
    </br></br> Each square will appear briefly, and you will see one square at a time. During this time,
       we will turn the curser off so as to not distract you.
      Afterwards, there will be a brief delay with lots of dots 
      blinking on and off, 
      and then we will ask you to indicate where you saw the squares. When instructed, please 
      click on the screen where you saw each square, 
      in the order that you saw them.
  </div>
  <div id="instructions_bottom">
    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-7"></div>
            <div class="col-xs-3">
                <div class="right">
                    <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                      Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>