<div id="container-exp">
  <div id="instructions_header"><h1> </br></h1></div>
  <div id="instructions_text">
    On each trial, we will let you know how well you did by awarding 
    you points for how accurate you were!  The closer you place each square 
    to its original location, the more points you will earn!
    </br></br>
    The task has four sections, each with 50 trials. 
    In each section, there is a pattern to the order 
    of the squares on the screen. This pattern is consistent for all the trials in 
    the section, and learning it can make it easier to remember the locations of the squares.
    Be careful! The pattern will change after each section break.
    </br>
    Between each section, there will be a short break, and we'll 
    remind you of the rules.
    </br></br>Please click "Start!" when you are ready to start the game.
  </div>
  <div id="instructions_bottom">
    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-7"></div>
            <div class="col-xs-3">
                <div class="right">
                    <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Start! <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>