<div id="container-exp">
  <div id="instructions_header"><h1>Welcome!</h1></div>
  <div id="instructions_text">
    </br></br>
    You will be playing a game where you will have to remember 
    where you saw each of a sequence of squares presented on the screen.

    </br></br>
    This game helps us understand how people learn and remember. By performing well, you will have the ability to earn
    bonus payments!
  </br></br>
    Before we begin, we need your informed consent (click "Next" to proceed).
  </div>
  <div id="instructions_bottom">
    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-7"></div>
            <div class="col-xs-3">
                <div class="right">
                    <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                      Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>