<div id="container-questionnaire">
    <h1></h1>
    
    <div id="instructions_header"><h1> </br></h1>What is your <b>mTurk id</b>? We need this for bonus payments.</div>
    <p>
    </p>
    <div id="instructions_text">
    </br>
    <hr>

    <!-- <div class="instructions_well"> -->
    <form id="postquiz">
        <div class="row question">
            <div class="col-md-7">
                Type your mTurk id in this box:
            </div>
            <div class="col-md-3">
                <input type="text" name="name" id="mTurkID" value="" />
            </div>
        </div>
    </form>
    <!-- </div> -->
    <hr>

    </div>


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>


</div>
